{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>drchrono</title>
		  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	</head>
	<body style="width: 100%;height:100%">
		<nav style="background-color: white;">
		  <div class="nav-wrapper">
		    <a class="brand-logo" style="color:black;margin-left:15px" ><img style="margin-top: 10px"src="{% static "icon.svg" %}" /> <!-- <span style="color:aquamarine"> Hi {{ username }}!</span> --></a>
		     <!-- #26a69a -->
		    <ul id="nav-mobile" class="right hide-on-med-and-down">
		    	<li><a href="home.html" style="color:black">Home</a></li>
		      <li><a href="bp.html" style="color:black">Blood Pressure Tracker</a></li>
		      <li><a href="sleep.html" style="color:black">Sleep Tracker</a></li>
		      <li><a href="weight.html" style="color:black">Weight Tracker</a></li>
		      <li><a href="hydrate.html" style="color:black">Hydrate Tracker</a></li>
		      <li><a href="welcome.html" style="color:black">Log Out</a></li>
		    </ul>
		  </div>
		</nav>

			{% block content%}
			{% endblock content %}
		</body>
</html>