{% extends "base.html" %}
{% block content %}
<!-- {% load static %}
 -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div style="margin-top: 40px;display:flex;text-align: center; clear:both;flex-wrap: wrap;">
  <div class="row" style="width: 50%;">
  	{% for item in bp %}
    <div class="col s12 m6" style="">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{item.0}}</span> <!-- {{ date }} -->
          <p>{{item.1}} Systolic</p> 
          <p>{{item.2}} Diastolic</p>
        </div>
        <div class="card-action">
          <p style="color:white"> Your BP is: {{item.3}}</p> <!-- {{ status }} -->
        </div>
      </div>
    </div>
		{% endfor %}
	</div>
</div>


{% endblock content %}