{% extends "base.html" %}
{% block content %}
{% load static %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<div id="container" style="min-width: 310px;max-width:1000px;height:400px;margin:0 auto;margin-top: 100px">
	<h4>Sleep Tracker</h4>
	<script src="{% static "makeCharts.js" %}" type="text/javascript"></script>

	<script language="javascript">
   makeCharts("{{ title }}", "{{ xaxis }}", {{ dates }}, "{{ yaxis }}", "{{ seriesName }}", {{ data }}, {{ mx }});
	</script>
</div>


{% endblock content %}