{% extends "base.html" %}
{% block content %}
{% load static %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div style="display:flex;text-align: center; clear:both;flex-wrap: wrap;">
  <div class="row" style="width: 50%;">
    <div class="col s12 m6" style="">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Date</span>
          <p>180/90 mmHg</p>
        </div>
        <div class="card-action">
          <p style="color:white"> Your BP is: (Hypertension) Stage 2</p>
        </div>
      </div>
    </div>


	  <div class="col s12 m6" >
	    <div class="card blue-grey darken-1">
	      <div class="card-content white-text">
	        <span class="card-title">Date</span>
	        <p>180/90 mmHg</p>
	      </div>
	      <div class="card-action">
	        <p style="color:white"> Your BP is: (Hypertension) Stage 2</p>
	      </div>
	    </div>
	  </div>

	  <div class="col s12 m6" >
	    <div class="card blue-grey darken-1">
	      <div class="card-content white-text">
	        <span class="card-title">Date</span>
	        <p>180/90 mmHg</p>
	      </div>
	      <div class="card-action">
	        <p style="color:white"> Your BP is: (Hypertension) Stage 2</p>
	      </div>
	    </div>
	  </div>

	  <div class="col s12 m6" >
	    <div class="card blue-grey darken-1">
	      <div class="card-content white-text">
	        <span class="card-title">Date</span>
	        <p>180/90 mmHg</p>
	      </div>
	      <div class="card-action">
	        <p style="color:white"> Your BP is: (Hypertension) Stage 2 </p>
	      </div>
	    </div>
	  </div>

	  <div class="col s12 m6" >
	    <div class="card blue-grey darken-1">
	      <div class="card-content white-text">
	        <span class="card-title">Date</span>
	        <p>180/90 mmHg</p>
	      </div>
	      <div class="card-action">
	        <p style="color:white"> Your BP is: (Hypertension) Stage 2 </p>
	      </div>
	    </div>
	  </div>

	  <div class="col s12 m6" >
	    <div class="card blue-grey darken-1">
	      <div class="card-content white-text">
	        <span class="card-title">Date</span>
	        <p>180/90 mmHg</p>
	      </div>
	      <div class="card-action">
	        <p style="color:white"> Your BP is: (Hypertension) Stage 2 </p>
	      </div>
	    </div>
	  </div>
	</div>
</div>


{% endblock content %}