{% extends "base.html" %}
{% block content %}

<div>
	<div style="width: 45%;margin: 0 auto;margin-top: 100px;margin-left: 40%">
		<h5>Hydrate Tracker</h5>

		<form action="/chart_hydrate.html">
			<div class="row">
		    <div class="input-field col s6">
		      <input name="hydrate" type="text" class="validate">
		      <label class="active" for="hydrate">How much water did you drink today (gallons)?</label>
		      <input class="waves-effect waves-light btn" type="submit" value="Submit">
		    </div>
		  </div>
		</form>
	</div>

</div>

{% endblock content %}