<!DOCTYPE html>
<html>
	<head>
		<title>Logged Off</title>
		  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>
	<body>
		<nav style="background-color: white;">
		  <div class="nav-wrapper">
		    <a class="brand-logo" style="color:black;margin-left:15px" >drchrono <img src="drchronoicon.svg"> <span style="color:aquamarine"> Goodbye {{ username }}!</span></a>
		  </div>
		</nav>
		<h1>You have been logged out</h1>
		<button onClick="window.location.href='welcome'" type="button" class="w3-btn w3-black w3-round">Back to Welcome Page</button>
	</body>
</html>