<!DOCTYPE html>

<html style="height: 100%">
	<head>
		<title>Welcome</title>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	</head>

	<body style="height:100%; background-color:aquamarine;text-align: center">
		<form action="home">
			<div class="w3-container" style="margin:0 auto;margin-top: 17%;margin-left: auto;margin-right:  auto;">
			  <h1>Welcome!</h1>
			  <button onClick="window.location='https://onpatient.com/o/authorize/?redirect_uri=http://127.0.0.1:8000/home&response_type=code&client_id=YBWQ0HSOpwpumbLjqj83J6UMFqVsyqrG9uJ4Yrpz&scope=patient/*.read%20launch/patient%20offline_access'" type="button" class="w3-btn w3-black w3-round">Connect to drchono</button>
			</div>
		</form>
	</body>
</html>

<!-- "window.location='https://drchrono.com/o/authorize/?redirect_uri=http://localhost.com/redirect&response_type=code&client_id=YmHIOm9TT85ssvANTmxjX0mAqSfbCUX5mQ8tPumW&scope=patients:summary:read%20patients:summary:write'" type="button" class="w3-btn w3-black w3-round" -->

<!-- onClick="window.location.href='redirect'" -->

<!-- user:read%20%20patients:summary:read%20clinical:read -->